<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     Set system property
     -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous.
-->
     
<Configuration shutdownHook="disable">
    <Appenders>
        <RandomAccessFile name="LOCAL" fileName="logs/vocabulary.log" append="true">
            <PatternLayout>
                <Pattern>
                    [Thread:%t] %d{[MMMM d, yyyy HH:mm a]} [%p] %m%n
                </Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LOCAL"/>
        </Root>

        <Logger name="com.zaxxer.hikari.HikariConfig" level="debug" additivity="true">
            <AppenderRef ref="LOCAL" />
        </Logger>

        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="LOCAL" />
        </Logger>

        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="LOCAL" />
        </Logger>

        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="LOCAL" />
        </Logger>
    </Loggers>
</Configuration>